// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.
// @import "reset";

* {
    background-repeat: no-repeat;
}

body {
    // background: white;
    margin-top: 51px;
}
.picture {
    // width: 1000px;
    height: 100%;
    background: no-repeat center center;
}
section {
    // position: relative;
}
.description {
    position: absolute;
    max-width: 1000px;
    bottom: 51px;
    left: 0;
    color: white;
    background: rgba(24,24,24, .7);
    padding: 7px;
    h4 {
        margin: 0 0 3px 0;
    }
}


.boat {
    background-image: url(/images/boat.jpg);
}
.boy {
    background-image: url(/images/boy.jpg);
}
.braveheart {
    background-image: url(/images/braveheart.jpg);
}
.clock {
    background-image: url(/images/clock.jpg);
}
.cow {
    background-image: url(/images/cow.jpg);
}
.desert {
    background-image: url(/images/desert.jpg);
}
.desktop {
    background-image: url(/images/desktop.jpg);
}
.dirt {
    background-image: url(/images/dirt.jpg);
}
.dogs {
    background-image: url(/images/dogs.jpg);
}
.hiker {
    background-image: url(/images/hiker.jpg);
}
.leaves {
    background-image: url(/images/leaves.jpg);
}
.palette {
    background-image: url(/images/palette.jpg);
}
.prison {
    background-image: url(/images/prison.jpg);
}
.rain {
    background-image: url(/images/rain.jpg);
}
.stonehenge {
    background-image: url(/images/stonehenge.jpg);
}
.vw {
    background-image: url(/images/vw_bus.jpg);
}
.waves {
    background-image: url(/images/waves.jpg);
}

.about {
    background-image: url(/images/camera.jpg);
    // opacity: .2;
    margin-top: 50px;
    h2,{
    padding: 50px;
    opacity: 1;
    }
    p {
        padding: 0 50px 50px 50px;
    }

    img {
        border-radius:50%;
        height: 150px;
        width: 150px;
        float: left;
        clear:both;
        margin-right: 10px;
    }
    div {
        height: 150px;
        width: 500px;
        margin: 0 auto;

        h4 {
            padding-top: 20px;
        }
    }
}

.contact {
    width: 100%;
    background-image: url(/images/photo_backdrop.JPG);
    form {
        position: relative;
        width: 600px;
        top: 125px;
        margin:0 auto;

        legend {
            border-bottom: 0px;
        }

        label {
            display: block;
            width: 150px;
            float: left;
        }

        input {
            width: 400px;
            margin-bottom: 25px;
        }
        textarea {
            width: 550px;
            margin-bottom: 25px;
        }

    }
}
.message {
    margin-bottom:15px;
}

@media screen and (max-width: 800px) {
    body {
            width: 100%;
            .contact {
            background-image: none;
            padding-top: 70px;

            form {
                background: rgba(24,24,24, .7);
                color: white;
                position: static;
                margin: 0 auto;
                padding:30px 10px;
                width:100%;


                legend {
                    color:white;
                }
                fieldset {
                    margin: 0 auto;
                    width: 300px;
                }
                label {
                    width: 75px;
                    float: left;
                }
                input {
                    width: 225px;
                }
                textarea {
                    width: 300px;
                }
            }
        }
    .body-wrapper {
        clear: both;
        display: block;
    }
    .button-wrapper {
        text-align: center;
    }
    button {
        display: inline-block;
        color: black;
        border: rgb(78,78,78);
        box-shadow: (3px 3px 3px 3px #444);
        background-color: white;
        width: 100px;
        height: 30px;

    }
    button:hover {
        box-shadow: (0px 0px 5px 5px #44a);
    }

    }

}
